body {
  background-color: #cc66ff;
  font-size: 1em;
  font-family: monospace;
}

fieldset {
  background-color: #ff9933;
  padding-top: 25px;
  padding-bottom: 25px;
}

h1 {
  font-size: 1.5em;
  text-align: center;
  text-transform: capitalize;
}

h2 {
  font-size: 1em;
  text-align: center;
  text-transform: ;
}

#survey-form {
  background-color: #cc66ff;
  font-size: 1.1em;
  text-align: center;
}
fieldset { 
  margin: 15px;